<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/CSS/Index.css}"/>
    <link rel="stylesheet" th:href="@{/CSS/HomePage.css}"/>
    <link rel="stylesheet" th:href="@{/CSS/Header.css}"/>
    <link rel="stylesheet" th:href="@{/CSS/SideBar.css}"/>
    <link rel="stylesheet" th:href="@{/CSS/Footer.css}"/>
    <link rel="stylesheet" th:href="@{/CSS/LoginSideBar.css}"/>
    <link rel="stylesheet" th:href="@{/CSS/Pay.css}"/>
    <script th:src="@{/JQuery/ToggleBar.js}"></script>
    <meta charset="UTF-8">
    <title>Layout</title>
</head>
<body>
<div class="indexForm">
    <div class="d-flex">
        <th:block th:replace="~{fragments/SideBar :: SideBar}">SideBar</th:block>
        <div class="container-fluid">
            <div>
                <th:block th:replace="~{fragments/Header :: Header}">Header</th:block>
            </div>
            <div class="pt-2">
                <th:block layout:fragment="Content">Content</th:block>
            </div>
            <div class="pt-2">
                <th:block th:replace="~{fragments/Footer :: Footer}">Footer</th:block>
            </div>
        </div>
        <div>
        <aside class="LayoutLoginSideBar">
            <th:block th:replace="~{fragments/LoginSideBar :: LoginSideBar}">LoginSideBar</th:block>
        </aside>
        </div>
    </div>
</div>
</body>
</html>