<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layouts/Layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>계좌 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <div class="pt-2 container ContentForm">
        <form method="post" role="form" th:action="@{/account/deposit}" th:object="${accountSaveForm}">
            <label>입금액: <input th:field="*{depositMoney}" type="text"/></label><br>
            <label>입금 내용: <input th:field="*{depositDetails}" type="text"/></label><br>
            <button type="submit">저장</button>
        </form>
    </div>
</th:block>
</body>
</html>
