<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layouts/Layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>계좌 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <div class="pt-2 textCenter ContentForm">
        <h1 th:text="${'게시판'}" />
        <ul>
            <button>글쓰기</button>
            <li th:each="dto : ${list}" style="list-style-type: none;">
                <a th:href="@{/board/{no}(no = ${dto.no})}">[[${dto.no}]] --- [[${#temporals.format(dto?.createDt, 'yyyy/MM/dd')}]]</a>
                <!--        <li th:text="${#temporals.format(dto?.createdDate, 'yyyy/MM/dd')}"></li>-->
        </ul>
    </div>
</th:block>
</body>
</html>
