<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/Layout}">
<head>
    <title>회원가입 페이지</title>
</head>
<body>
    <th:block layout:fragment="Content">
        <div class="pt-2 container ContentForm ">
            로그인 페이지
            <hr>
            <form th:action="@{/joinProcess}" method="post">
                <div>
                    <label>Id:</label>
                    <input type="text" name="userId" placeholder="아이디">
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" name="password" placeholder="패스워드">
                </div>
                <div>
                    <label>NickName:</label>
                    <input type="text" name="nickName" placeholder="닉네임">
                </div>
                <div>
                    <button type="submit">Join</button>
                </div>
            </form>
        </div>
    </th:block>
</body>
</html>