<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layouts/Layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>계좌 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <div class="pt-2 container ContentForm">
        <!-- 계좌 정보를 표시하는 필드들 -->
        <table class="container text-center">
            <thead>
            <tr class="row">
                <th class="col-2">순서</th>
                <th class="col-2">입금액</th>
                <th class="col-2">입금 내용</th>
                <th class="col-2">출금액</th>
                <th class="col-2">출금 내용</th>
                <th class="col-2">총 금액</th>
            </tr>
            </thead>
            <tbody>
            <tr
                    class="row"
                    th:each="payForm : ${payForm}"
            >
                <td class="col-2">
                    <a th:text="${payForm.id}">글 번호</a>
                </td>
                <td class="col-2">
                    <a th:text="${payForm.depositMoney}">입금액</a>
                </td>
                <td class="col-2">
                    <a th:text="${payForm.depositDetails}">입금 내용</a>
                </td>
                <td class="col-2">
                    <a th:text="${payForm.withdrawMoney}">출금액</a>
                </td>
                <td class="col-2">
                    <a th:text="${payForm.withdrawDetails}">출금 내용</a>
                </td>
                <td class="col-2">
                    <a th:text="${payForm.totalMoney}">총 금액</a>
                </td>
            </tr>
            </tbody>
        </table>

        <button class="btn btn-primary"><a th:href="@{/pay}" th:text="뒤로가기">뒤로가기</a></button>
    </div>
</th:block>
</body>
</html>
