<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
    <th:block class="Footer" th:fragment="Footer">
        <footer class="FooterBody">
            <div class="pt-2">
                <ul>
                    <li>팀원 : 김상준, 지성현, 한현승</li>
                    <li class="pt-1 pb-1">제작 기간 : 2024-01-03 ~ 2024-02-04</li>
                    <li>Github 주소 : <a style="color:black;" th:href="@{https://github.com/JayJi5204/ItdaAgainProject}" th:text="'https://github.com/JayJi5204/ItdaAgainProject'">깃허브</a></li>
                </ul>
            </div>
        </footer>
    </th:block>
</body>
</html>