<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SideBar</title>
</head>
<body>
<th:block class="LoginSideBar" th:fragment="LoginSideBar">
    <div class="LoginSideBarBody text-center">
        <div class="LoginSideBarHeaderForm">
            <h5 class="LoginSideX login">x</h5>
            <img alt="로그인이미지" th:src="@{/Image/LoginSideImage.png}">
            <div class="mt-1">
                <a style="color:black;">
                    <span sec:authorize="isAuthenticated()" sec:authentication="name">로그인 이름</span>
                    <span sec:authorize="!isAuthenticated()" th:text="Guest">게스트</span>
                </a>
            </div>
        </div>
        <div class="LoginSideBarForm"><a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}" th:text="로그아웃">로그아웃</a></div>
        <div class="LoginSideBarForm" sec:authorize="isAuthenticated()" ><a sec:authorize="isAuthenticated()" th:href="@{/user/update}">비밀번호 변경</a></div>
        <div class="LoginSideBarForm"><a style="color:black;" th:href="@{/introduce}" th:text="'사이트 소개'">메뉴1</a></div>
        <div class="LoginSideBarForm"><a style="color:black;" th:href="@{/goal}" th:text="'사이트 목표'">메뉴2</a></div>
    </div>
</th:block>
</body>
</html>