<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SideBar</title>
</head>
<body>
<th:block class="SideBar" th:fragment="SideBar">
    <div class="SideBarBody text-center">
        <div class="SideBarLogoForm"><a  th:href="@{/}"><img alt="로그인이미지" th:src="@{/Image/Logo.png}"></a></div>
        <div class="SideBarForm">
            <a style="color:white;" th:href="@{/order}" th:text="상품주문">메뉴1</a>
        </div>
        <div class="SideBarForm">
            <a style="color:white;" th:href="@{/pay}" th:text="페이관리">메뉴2</a>
        </div>
        <div class="SideBarForm"><a style="color:white;" th:href="@{/board}" th:text="게시판">메뉴3</a></div>
    </div>
</th:block>
</body>
</html>
