<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layouts/Layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>게시판 페이지</title>
    <style>
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<th:block layout:fragment="Content">
    <div style="display: flex; justify-content: center; align-items: center;">
        <h1 class="mt-4">게시판</h1>
    </div>
    <div style="text-align: right;">
        <span>
            <a th:href="@{/board/register}">
                <button type="button" class="btn btn-outline-primary">글작성</button>
            </a>
        </span>
    </div>


        <form th:action="@{/board}" th:method="get" id="searchForm">
        <div class="input-group">
                <input type="hidden" name="page" value = "1">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">검색 조건</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" name="type">
                    <option value="t" th:selected="${boardPageRequestDTO.type =='t'}" >제목</option>
                    <option value="c" th:selected="${boardPageRequestDTO.type =='c'}" >내용</option>
                    <option value="w" th:selected="${boardPageRequestDTO.type =='w'}" >작성자</option>
                    <option value="tc" th:selected="${boardPageRequestDTO.type =='tc'}" >제목 + 내용</option>
                    <option value="tcw" th:selected="${boardPageRequestDTO.type =='tcw'}" >제목 + 내용 + 작성자</option>
                </select>
            </div>
            <div class="input-group mb-3" role="group" aria-label="Basic example">
                <input type="text" class="form-control" placeholder="검색어를 입력하세요" aria-label="검색어를 입력하세요" aria-describedby="button-addon2" name="keyword" th:value="${boardPageRequestDTO.keyword}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-search" type="button" id="button-addon2">검색</button>
                </div>
            </div>

        </div>
        </form>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">카테고리</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">등록일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dto : ${result.dtoList}" >
                <th scope="row">
                    <a th:href="@{/board/read(bno = ${dto.bno}, page= ${result.page}, type=${boardPageRequestDTO.type},
                keyword = ${boardPageRequestDTO.keyword})}">
                        [[${dto.bno}]]
                    </a>
                </th>
                <td>[[${dto.category}]]</td>
                <td>
                    <a th:href="@{/board/read(bno = ${dto.bno}, page= ${result.page})}">
                        [[${dto.title}]]
                    </a>
                </td>
                <td>[[${dto.writer}]]</td>
                <td>[[${#temporals.format(dto?.createDt, 'yyyy/MM/dd')}]]</td>
            </tr>
            </tbody>
        </table>

        <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item " th:if="${result.prev}">
                <a class="page-link" th:href="@{/board(page= ${result.start -1}, type=${boardPageRequestDTO.type},
                keyword = ${boardPageRequestDTO.keyword})}"
                   tabindex="-1">이전</a>
            </li>

            <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
                <a class="page-link" th:href="@{/board(page= ${page}, type=${boardPageRequestDTO.type},
                keyword = ${boardPageRequestDTO.keyword})}">
                    [[${page}]]
                </a>
            </li>

            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{/board(page= ${result.end +1}, type=${boardPageRequestDTO.type},
                keyword = ${boardPageRequestDTO.keyword})}">다음</a>
            </li>
        </ul>

        <script th:inline="javascript">
            var msg = [[${msg}]];
            console.log(msg);
            if(msg){
                $('.modal').modal();
            }

            var searchForm = $("#searchForm");

            $('.btn-search').click(function(e){
            searchForm.submit();
            });
            $('.btn-clear').click(function(e){
            searchForm.empty().submit();
            });
        </script>
    </div>

</th:block>
</body>
</html>