<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layouts/Layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>목표 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <div class="pt-2 ContentForm textCenter">
        <div class="d-flex justify-content-center pt-5">
            <div class="col-4">
                <div>
                    <a><img alt="이미지" style="width:13rem; height:17rem;" th:src="@{/Image/.jpg}"></a>
                </div>
                <div class="pt-4">
                    <p>김상준</p>
                </div>
                <div class="pt-4">
                    <p>목표 적기</p>
                    <a class="pt-2" th:href="@{https://github.com/coffebara}">깃허브 주소</a>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <a><img alt="이미지" style="width:13rem; height:17rem;" th:src="@{/Image/JSH.jpg}"></a>
                </div>
                <div class="pt-4">
                    <p>지성현</p>
                </div>
                <div class="pt-4">
                    <p>
                        이번 프로젝트를 통해서 저는 협업과 소통의 중요성에 대해 좀 더 깨닫게 되었습니다.
                        개발을 하면서 제가 오류가 생긴 부분을 팀원들이 같이 코드를 보며 오류를 잡았고,
                        소통을 통해 생각하지 못한 부분에 대해 영감을 얻을 수 있었고,
                        부족한 점에 대해 피드백을 받아 부족한 부분을 고칠수 있었습니다.
                    </p>
                    <p>
                        현재는 3월 달에 SQLD 자격증을 취득하는 것을 목표로 공부하고 있고,
                        5월에는 정보처리기사 자격증을 취득할 계획입니다.
                    </p>
                    깃허브 주소 : <a class="pt-2" th:href="@{https://github.com/JayJi5204}"
                                th:text="'https://github.com/JayJi5204'"></a>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <a><img alt="이미지" style="width:13rem; height:17rem;" th:src="@{/Image/.jpg}"></a>
                </div>
                <div class="pt-4">
                    <p>김현승</p>
                </div>
                <div class="pt-4">
                    <p>목표 적기</p>
                    <a class="pt-2" th:href="@{https://github.com/snueg}">깃허브 주소</a>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
