<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layouts/Layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .ContentForm {
            width: 70%;
            margin: auto;
        }
        .form-group {
            text-align: left;
        }
        .form-control {
            width: 100%;
        }
        .btn-group {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
        }
        .btn-container {
            text-align: right;
            margin-top: 19px;
        }
        .btn {
            padding: 5px 12px;
            font-size: 0.875rem;
        }
    </style>
</head>
<body>
<th:block layout:fragment="Content">
    <div class="pt-2 textCenter ContentForm">

        <form th:action="@{board/modify}" th:method="post">
            <input type="hidden" name="page" th:value="${requestDTO.page}">
            <input type="hidden" name="type" th:value="${requestDTO.type}">
            <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">
            <div class="form-group">
                <input type="hidden" class="form-control" name="bno" th:value="${dto.bno}" readonly >
            </div>
<!--            <div class="form-group">-->
<!--                <label >카테고리</label>-->
<!--                <input type="text" class="form-control" name="category" th:value="${dto.category}" >-->
<!--            </div>-->
            <div class="form-group">
                <label>카테고리</label>
                <select class="form-control custom-select" name="category">
                    <option value="자유" th:selected="${dto.category =='자유'}">자유</option>
                    <option value="유머" th:selected="${dto.category =='유머'}">유머</option>
                    <option value="질문/답변" th:selected="${dto.category =='질문/답변'}">질문/답변</option>
                </select>
            </div>

            <div class="form-group">
                <label >제목</label>
                <input type="text" class="form-control" name="title" th:value="${dto.title}" >
            </div>
            <div class="form-group">
                <label >내용</label>
                <textarea class="form-control" rows="5" name="content">[[${dto.content}]]</textarea>
            </div>
            <div class="form-group">
                <label >작성자</label>
                <input type="text" class="form-control" name="writer" th:value="${dto.writer}" readonly>
            </div>
            <div class="form-group">
                <label >작성일</label>
                <input type="text" class="form-control" th:value="${#temporals.format(dto.createDt, 'yyyy/MM/dd HH:mm:ss')}" readonly>
            </div>
        </form>

        <div class="btn-container">
            <button type="button" class="btn btn-primary modifyBtn">수정</button>
            <button type="button" class="btn btn-info listBtn">목록</button>
            <button type="button" class="btn btn-danger removeBtn">삭제</button>
        </div>
    </div>
    <script th:inline="javascript">
        var actionForm = $("form");

      $(".removeBtn").click(function(){
           actionForm
               .attr("action", "/board/remove")
               .attr("method","post");
           actionForm.submit();
      });

      $(".modifyBtn").click(function() {
            if(!confirm("수정하시겠습니까?")) {
                return;
            }
            actionForm
                .attr("action", "/board/modify")
                .attr("method", "post")
                .submit();
      });

      $(".listBtn").click(function(){

        var page = $("input[name='page']");
        var type = $("input[name='type']");
        var keyword = $("input[name='keyword']");

        actionForm.empty();

        actionForm.append(page);
        actionForm.append(type);
        actionForm.append(keyword);

        actionForm
            .attr("action", "/board")
            .attr("method", "get");

        console.log(actionForm.html());
        actionForm.submit();
        });
    </script>
</th:block>
</body>
</html>