<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layouts/Layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>계좌 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <div class="pt-2 textCenter ContentForm">
        <p>작업이 완료되었습니다.</p>
        <p>감사합니다.</p>
        <button class="btn btn-primary"><a th:href="@{/}" th:text="홈페이지">홈페이지 바로가기</a></button>
        <button class="btn btn-primary"><a th:href="@{/pay/{id}(id=${userForm.id})}" th:text="목록">목록 바로가기</a></button>
        <button class="btn btn-primary"><a th:href="@{/pay/detail/{id}(id=${userForm.id})}" th:text="통장내역">관리 바로가기</a></button>
    </div>
</th:block>
</body>
</html>
