<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layouts/Layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>계좌 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <div class="pt-2 container ContentForm">
        <div class="PayDetailForm">
            <table class="container text-center">
                <thead>
                <tr class="row">
                    <th class="col-2">날짜</th>
                    <th class="col-2">입/출금</th>
                    <th class="col-2">입/출금액</th>
                    <th class="col-4">입/출금 내용</th>
                    <th class="col-2">총 금액</th>
                </tr>
                </thead>
                <tbody>
                <tr
                        class="row"
                        th:each="payForm : ${payForm}"
                >
                    <td class="col-2">
                        <a th:text="${#temporals.format(payForm.accountTime, 'YYYY-MM-dd')}">날짜</a>

                    </td>
                    <td class="col-2">
                        <a th:if="${payForm.withdrawMoney}==0" th:text="입금">입금</a>
                        <a th:text="출금" th:unless="${payForm.withdrawMoney}==0">출금</a>
                    </td>
                    <td class="col-2">
                        <a th:text="${payForm.withdrawMoney==0} ? (${payForm.depositMoney < 1000} ? ${payForm.depositMoney} : ${#numbers.formatInteger(payForm.depositMoney, 3, 'COMMA')}) : ''">입금액</a>
                        <a th:text="${payForm.depositMoney==0} ? (${payForm.withdrawMoney < 1000} ? ${payForm.withdrawMoney} : ${#numbers.formatInteger(payForm.withdrawMoney, 3, 'COMMA')}) : ''">출금액</a>
                    </td>
                    <td class="col-4">
                        <a th:if="${payForm.withdrawMoney}==0" th:text="${payForm.depositDetails}">입금 내용</a>
                        <a th:text="${payForm.withdrawDetails}" th:unless="${payForm.withdrawMoney}==0">출금 내용</a>
                    </td>
                    <td class="col-2">
                        <a th:if="${payForm.totalMoney < 1000}" th:text="${payForm.totalMoney}+'원'">총 금액</a>
                        <a th:unless="${payForm.totalMoney < 1000}" th:text="${#numbers.formatInteger(payForm.totalMoney, 3, 'COMMA')}+'원'">총 금액</a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-end me-3 mb-3">
            <button class="btn btn-warning">
                <a th:href="@{/pay}" th:text="목록으로">목록</a>
            </button>
        </div>
    </div>
</th:block>
</body>
</html>
