<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layouts/Layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>계좌 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <div class="pt-2 textCenter ContentForm">
        <form method="post" role="form" th:action="@{'/pay/withdraw/'+${userForm.id}}" th:object="${paySaveForm}">
            <div>
                <label>출금액: <input th:field="*{withdrawMoney}" type="text"/></label>
            </div>
            <div>
                <label>출금 내용: <input th:field="*{withdrawDetails}" type="text"/></label>
            </div>
            <button class="btn btn-primary" type="submit">저장</button>
            <button class="btn btn-danger" type="submit"><a th:href="@{'/pay/complete/'+ ${userForm.id}}" th:text="취소">취소</a>
            </button>
        </form>
    </div>
</th:block>
</body>
</html>
