<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<th:block class="Header" th:fragment="Header">
    <div class="text-center HeaderBody">
        <div class="row">
            <div class="col">
                <p sec:authorize="isAuthenticated()" th:text="${id + '님 환영합니다'}"></p>
            </div>
            <div class="col-6">
                <div class="d-flex justify-content-center">
                    <label>
                        <input type="search">
                    </label>
                    <button type="submit">검색</button><div>
                    <a id="login" >로그인토글</a>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-end">
                    <div class="me-2">

                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>