<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<th:block class="Header" th:fragment="Header">
    <div class="text-center HeaderBody">
        <div class="row">
            <div class="col">
                <p sec:authorize="isAuthenticated()" th:text="${id + '님 환영합니다'}"></p>
            </div>
            <div class="col-6">
                <div class="d-flex justify-content-center">
                    <label>
                        <input type="search">
                    </label>
                    <button type="submit">검색</button>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-end">
                    <div class="me-2">
                        <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
                        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" th:text="로그아웃">로그아웃</a>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>